{% extends "editor_ui/generic_deletion_template.html" %}
{% set pageTitle = "Remove user" %}

{% block heading %}
    Confirm project member removal
{% endblock heading %}

{% block description %}
    Are you sure you want to remove the user <b>{{ object.user.email }}</b> from project <b>{{ object.project.name }}</b>?
{% endblock description %}

{% block submit_button_text %}
    Remove user
{% endblock submit_button_text %}

{% block cancel_button %}
    <a href="{{ url("editor_ui:projects:memberships:list", project_uuid=object.project.uuid) }}"
       class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
