{% extends "editor_ui/generic_update_template.html" %}

{% block description %}
  <p>Editing the membership role for <b>{{ object.user }}</b> in the <b>{{ object.project }}</b> project.</p>
  <p>Available roles are:</p>
  <ul class="tna-ol">
    <li>Owner - Can manage the project, all project content and memberships.</li>
    <li>Editor - Can manage project content and leave project.</li>
  </ul>
{% endblock description %}

{% block cancel_button %}
  <a href="{{ url('editor_ui:projects:memberships:list', project_uuid=object.project.uuid) }}" class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
