{% extends "base.html" %}
{% from "/components/error-summary/macro.html" import tnaErrorSummary %}
{% set pageTitle = "Project Members" %}
{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if messages %}
          {% set ns = namespace(error_messages=[]) %}
          {% for message in messages %}
            {% set ns.error_messages = ns.error_messages + [{"text": message|string}] %}
          {% endfor %}
          {{ tnaErrorSummary({
            "title": "There is a problem",
            "headingLevel": 2,
            "items": ns.error_messages,
            "disableAutoFocus": true
            }) }}
        {% endif %}
        <h1 class="tna-heading-xl">Project members</h1>
      </div>
      <div class="tna-column tna-column--full tna-!--padding-top-m">
        {% if user_project_permissions.is_superuser or user_project_permissions.is_owner %}
          <div class="tna-button-group">
            <a href="{{ url("editor_ui:projects:memberships:create", project_uuid=project_uuid) }}"
               class="tna-button"
               data-testing-id="add-user-button">
               <i class="fa-solid fa-plus" aria-hidden="true"></i>
               Add member
            </a>
          </div>
        {% endif %}
        {% if not members %}
          <p>No members found.</p>
        {% else %}
          <div class="tna-table-wrapper">
            <table class="tna-table">
              <thead class="tna-table__head">
                <tr class="tna-table__row">
                  <th class="tna-table__header">User</th>
                  <th class="tna-table__header">Role</th>
                  <th class="tna-table__header tna-table__header--numeric">Created at</th>
                  <th class="tna-table__header">Created by</th>
                  {% if user_project_permissions.is_superuser or user_project_permissions.is_member %}
                    <th class="tna-table__header"></th>
                  {% endif %}
                </tr>
              </thead>
              <tbody class="tna-table__body">
                {% for member in members %}
                  <tr class="tna-table__row">
                    <td class="tna-table__cell">{{ member.user }}</td>
                    <td class="tna-table__cell">{{ member.role }}</td>
                    <td class="tna-table__cell tna-table__cell--numeric">{{ member.created_at|date }}</td>
                    <td class="tna-table__cell">{{ member.created_by }}</td>
                    <td class="tna-table__cell tna-table__cell--button">
                      {% if user_project_permissions.is_superuser or user_project_permissions.is_owner %}
                        <a href="{{ url('editor_ui:projects:memberships:update', project_uuid=project_uuid, membership_uuid=member.uuid) }}"
                           class="tna-button tna-button--plain"
                           data-testing-id="edit-button">Edit</a>
                      {% endif %}
                      {% if user_project_permissions.is_superuser or user_project_permissions.is_owner or member.is_current_user %}
                        <a href="{{ url('editor_ui:projects:memberships:delete', project_uuid=member.project.uuid, membership_uuid=member.uuid) }}"
                           class="tna-button tna-button--plain"
                           data-testing-id="delete-button">Remove</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
