{% extends "base.html" %}
{% set pageTitle = "Log In" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <h1 class="tna-heading-xl">Log out</h1>
            </div>
            <div class="tna-column tna-column--full tna-!--padding-top-m">
                <p>Are you sure you would like to log out?</p>
                <form method="post" action="{{ url('editor_auth:logout_action') }}">
                    {{ csrf_input }}
                    <button type="submit" class="tna-button">Log out</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
