{% extends "base.html" %}
{% set pageTitle = "Log In" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <form method="post" class="tna-form">
                    {{ csrf_input }}
                    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                    {% for field in form %}
                        <div class="tna-form__group {% if field.errors %}tna-form__group--error{% endif %}" data-module="tna-text-input">
                            <div class="tna-form__group-contents">
                                <h4 class="tna-form__heading tna-form__heading--m">
                                    <label class="tna-form__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                </h4>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="tna-form__error-message">
                                            <span class="tna-!--visually-hidden">Error:</span> {{ error }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="tna-button-group">
                        <button type="submit" class="tna-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
