{% extends "base.html" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <p>
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                </p>
                <p>
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
