{% extends "base.html" %}
{% from "components/error-summary/macro.html" import tnaErrorSummary %}
{% import "macros/form_fields.njk" as forms %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <h1 class="tna-heading-xl">
                    {% block heading %}
                    {% endblock heading %}
                </h1>
                {% block description %}
                {% endblock description %}
            </div>
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <form method="post" class="tna-form">
                    {{ csrf_input }}
                    {% set ns = namespace(items=[]) %}
                    {% if form.non_field_errors() %}
                        {% for error in form.non_field_errors() | list %}
                            {% set ns.items = ns.items + [{"text": error|string}] %}
                        {% endfor %}
                        {{ tnaErrorSummary({
                            "title": "There is a problem",
                            "headingLevel": 2,
                            "items": ns.items,
                            "disableAutoFocus": true
                            }) }}
                    {% endif %}
                    {% for field in form %}{{ forms.renderField(field) }}{% endfor %}
                    <div class="tna-button-group">
                        <button type="submit" class="tna-button">
                            {% block submit_button_text %}
                            {% endblock submit_button_text %}
                        </button>
                        {% block cancel_button %}
                        {% endblock cancel_button %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
