{% extends "base.html" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <h1 class="tna-heading-xl">
                    {% block heading %}
                        Confirm deletion
                    {% endblock heading %}
                </h1>
                <p>
                    {% block heading_text %}
                    {% endblock heading_text %}
                </p>
                <form method="post">
                    {{ csrf_input }}
                    <div class="tna-button-group">
                        <button type="submit" class="tna-button tna-button--accent">
                            {% block submit_button_text %}
                            {% endblock submit_button_text %}
                        </button>
                        {% block cancel_button %}
                        {% endblock cancel_button %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
