{% extends "editor_ui/base.html" %}
{% set pageTitle = "Index" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <h1 class="tna-heading-xl">Index Page</h1>
            </div>
            <div class="tna-column tna-column--full tna-!--padding-top-m">Hello, World!</div>
        </div>
    </div>
{% endblock content %}
