{% extends "editor_ui/generic_deletion_template.html" %}
{% set pageTitle = "Remove API access" %}

{% block heading %}
	Confirm removal
{% endblock heading %}

{% block description %}
Are you sure you want to remove the API Access for <b>{{ object.grantee.email }}</b> from project <b>{{ object.project.name }}</b>, valid until <b> {{ object.expires_at.strftime("%I:%M %p on %B %d, %Y") }}</b>? 
{% endblock description %}

{% block submit_button_text %}
    Remove API access
{% endblock submit_button_text %}

{% block cancel_button %}
    <a href="{{ url("editor_ui:projects:api_access:list", project_uuid=object.project.uuid) }}"
       class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
