{% extends 'base.html' %}
{% from "components/warning/macro.html" import tnaWarning %}
{% set pageTitle = "API Key" %}
{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <hgroup class="tna-hgroup-xl">
          <p class="tna-hgroup__supertitle">User</p>
          <h1 class="tna-hgroup__title">API key</h1>
        </hgroup>
        <p>
          An API key allows you to access project data via the API.
        </p>
        <ul class="tna-ul">
          <li>
            <b>Generate a key</b> when you need to access data via the API
          </li>
          <li>
            <b>Regularly rotate your key</b> for better security
          </li>
        </ul>
        {{ tnaWarning({
            "headingLevel": 2,
            "body": "Keep your API key secure. Anyone with your key can access the same project data you can."
          }) }}
      </div>
      <div class="tna-column tna-column--full tna-!--padding-top-m tna-!--padding-bottom-m">
        {% for token in tokens %}
          <dl class="tna-dl tna-dl--plain">
            <dt>API key</dt>
            <dd>
              <code>{{ token.key }}</code>
            </dd>
            <dt>Date created</dt>
            <dd>
              {{ token.created|date("d M Y") }}
            </dd>
          </dl>
        {% else %}
          <p>You don't have an API key yet.</p>
        {% endfor %}
      </div>
      {% if tokens|length == 0 %}
        <a href="{{ url("editor_ui:api_keys:create") }}"
           class="tna-button"
           aria-label="Generate API key"
           title="Generate API key">Generate API key</a>
      {% else %}
        <a href="{{ url("editor_ui:api_keys:create") }}"
           class="tna-button"
           aria-label="Refresh API key"
           title="Refresh API key">Refresh API key</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
