{% extends 'editor_ui/generic_creation_template.html' %}
{% from "components/warning/macro.html" import tnaWarning %}

{% if has_existing_token %}
  {% set pageTitle = "Refresh API Key" %}
{% else %}
  {% set pageTitle = "Create API Key" %}
{% endif %}

{% block heading %}
  <hgroup class="tna-hgroup-xl">
    <p class="tna-hgroup__supertitle">User</p>
    <h1 class="tna-hgroup__title">
      {% if has_existing_token %}
        Refresh API key
      {% else %}
        Create API key
      {% endif %}
    </h1>
  </hgroup>
{% endblock heading %}

{% block description %}
  {% if not has_existing_token %}
    <p>
      Please confirm you wish to create a personal API key to access project details via the API.
    </p>
  {% else %}
    <p>You already have an API key. Creating a new one will replace your existing key and invalidate it.</p>
    <p>Do you want to proceed?</p>
  {% endif %}
{% endblock description %}

{% block submit_button_text %}
  Confirm
{% endblock submit_button_text %}

{% block cancel_button %}
  <a href="{{ url("editor_ui:api_keys:list") }}"
     class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
