{% extends "editor_ui/generic_creation_template.html" %}
{% block description %}
  <p>Enter the path pattern for the page on your project’s domain where this feedback form should appear.</p>
  <ul class="tna-ol">
    <li>Patterns must start <strong>and</strong> end with a forward slash (/).</li>
    <li>Append an asterisk (*) to match all sub-paths.</li>
    <li>When multiple patterns match a page, the <strong>most specific</strong> pattern takes precedence.</li>
  </ul>
  <p>Examples:</p>
  <ul class="tna-ol">
    <li>
      <code>/blog/post/</code> - applies to only the "/blog/post/" page.
    </li>
    <li>
      <code>/blog/*</code> - applies to all blog pages except "/blog/post/".
    </li>
    <li>
      <code>/*</code> - applies to all pages of the project's domain except "/blog/" pages.
    </li>
  </ul>
{% endblock description %}
{% block cancel_button %}
  <a href="{{ url('editor_ui:projects:feedback_forms:detail', project_uuid=project_uuid, feedback_form_uuid=feedback_form_uuid) }}"
     class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
