{% extends "editor_ui/base_form_template.html" %}
{% set pageTitle = "Update Project" %}
{% block heading %}
  Update Path Pattern
{% endblock heading %}
{% block heading_text %}
  Editing the path pattern details for feedback form '{{ object.feedback_form }}'.
{% endblock heading_text %}
{% block submit_button_text %}
  Update Path Pattern
{% endblock submit_button_text %}
{% block cancel_button %}
  <a href="{{ url('editor_ui:project__feedback_form_detail', project_uuid=object.project.uuid, feedback_form_uuid=object.feedback_form.uuid) }}" class="tna-button tna-button--accent">Cancel</a>
{% endblock cancel_button %}
