{% extends "editor_ui/generic_deletion_template.html" %}
{% set pageTitle = "Delete path pattern" %}

{% block description %}
    Are you sure you want to remove the path pattern <b>{{ object.pattern }}</b> from feedback form <b>{{ object.feedback_form.name }}</b>?
{% endblock description %}

{% block submit_button_text %}
    Delete path pattern
{% endblock submit_button_text %}

{% block cancel_button %}
    <a href="{{ url("editor_ui:projects:feedback_forms:detail", project_uuid=object.feedback_form.project.uuid, feedback_form_uuid=object.feedback_form.uuid) }}"
       class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
