{% extends "editor_ui/base_form_template.html" %}
{% set pageTitle = "Edit Feedback Form" %}
{% block heading %}
  Edit Feedback Form
{% endblock heading %}
{% block heading_text %}
  Editing the feedback form '{{ object.name }}' in the '{{ object.project }}' project.
{% endblock heading_text %}
{% block submit_button_text %}
  Submit
{% endblock submit_button_text %}
{% block additional_buttons %}
  <a href="{{ url('editor_ui:project__feedback_form_detail', project_uuid=object.project.uuid, feedback_form_uuid=object.uuid) }}" class="tna-button">Cancel</a>
{% endblock additional_buttons %}
