{% extends "base.html" %}
{% set pageTitle = "Feedback Forms" %}
{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">Feedback Forms</h1>
      </div>
      <div class="tna-column tna-column--full tna-!--padding-top-m">
        {% if not feedback_forms %}
          <p>No feedback forms found for this project.</p>
        {% else %}
          <div class="tna-table-wrapper">
            <table class="tna-table">
              <thead class="tna-table__head">
                <tr class="tna-table__row">
                  <th class="tna-table__header">Name</th>
                  <th class="tna-table__header">Path Patterns</th>
                  <th class="tna-table__header">Prompts</th>
                </tr>
              </thead>
              <tbody class="tna-table__body">
                {% for form in feedback_forms %}
                  <tr class="tna-table__row">
                    <th class="tna-table__header">
                       <a href="{{ url("editor_ui:project__feedback_form_detail", project_uuid=project_uuid, feedback_form_uuid=form.uuid) }}">{{ form.name }}</a>
                    </th>
                    <td class="tna-table__cell">
                      {% if form.path_patterns.all() %}
                        {{ form.path_patterns.all()|map(attribute='pattern')|join(', ') }}
                      {% endif %}
                    </td>
                    <td class="tna-table__cell">{{ form.prompts_count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        <a href="{{ url("editor_ui:feedback_form_create", project_uuid=project_uuid) }}" class="tna-button">Create a feedback form</a>
      </div>
    </div>
  </div>
{% endblock content %}