{% extends "base.html" %}
{% set pageTitle = "Feedback Forms" %}
{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">Feedback Forms</h1>
      </div>
      <div class="tna-column tna-column--full tna-!--padding-top-m">
        <a href="{{ url("editor_ui:project__feedback_form_create", project_uuid=project_uuid) }}"
           class="tna-button">Create a feedback form</a>
        {% if not feedback_forms %}
          <p>No feedback forms found for this project.</p>
        {% else %}
          <div class="tna-table-wrapper">
            <table class="tna-table">
              <thead class="tna-table__head">
                <tr class="tna-table__row">
                  <th class="tna-table__header">Name</th>
                  <th class="tna-table__header">Path Patterns</th>
                  <th class="tna-table__header">State</th>
                  <th class="tna-table__header tna-table__header--numeric">Prompts</th>
                </tr>
              </thead>
              <tbody class="tna-table__body">
                {% for feedback_form in feedback_forms %}
                  <tr class="tna-table__row">
                    <th class="tna-table__header">
                      <a href="{{ url("editor_ui:project__feedback_form_detail", project_uuid, feedback_form.uuid) }}">{{ feedback_form.name }}</a>
                    </th>
                    <td class="tna-table__cell">
                      {% if feedback_form.path_patterns_str %}{{ feedback_form.path_patterns_str }}{% endif %}
                    </td>
                    <td class="tna-table__cell">
                      {% if feedback_form.is_enabled() %}
                        Active
                      {% else %}
                        Inactive
                      {% endif %}
                    </td>
                    <td class="tna-table__cell tna-table__cell--numeric">{{ feedback_form.prompts_count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
