{% extends "editor_ui/generic_deletion_template.html" %}
{% set pageTitle = "Delete " + object.name|truncate(13, true) %}

{% block description %}
    <p>Are you sure you want to remove the feedback form <b>{{ object.name }}</b> from project <b>{{ object.project.name }}</b>?</p>
{% endblock description %}

{% block submit_button_text %}
    Delete feedback form
{% endblock submit_button_text %}

{% block cancel_button %}
    <a href="{{ url("editor_ui:projects:feedback_forms:detail", project_uuid=object.project.uuid, feedback_form_uuid=object.uuid) }}"
       class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
