{% extends "base.html" %}
{% set pageTitle = "Feedback forms" %}
{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h1 class="tna-heading-xl">Feedback forms</h1>
        <p>
          View this project’s feedback forms here. Select a feedback form to view its details or create a new one.
        </p>
      </div>
      <div class="tna-column tna-column--full tna-!--padding-top-m">
        <div class="tna-button-group">
          <a href="{{ url("editor_ui:projects:feedback_forms:create", project_uuid=project_uuid) }}"
            class="tna-button"
            aria-label="Create a feedback form"
            title="Create a feedback form">
            <i class="fa-solid fa-plus" aria-hidden="true"></i>
            Create a feedback form
          </a>
        </div>
        {% if not feedback_forms %}
          <p>No feedback forms found for this project.</p>
        {% else %}
          <div class="tna-table-wrapper">
            <table class="tna-table">
              <thead class="tna-table__head">
                <tr class="tna-table__row">
                  <th class="tna-table__header tna-column--width-1-3">Name</th>
                  <th class="tna-table__header">State</th>
                  <th class="tna-table__header tna-table__header--numeric">Date created</th>
                  <th class="tna-table__header tna-table__header--numeric">Last updated</th>
                </tr>
              </thead>
              <tbody class="tna-table__body">
                {% for feedback_form in feedback_forms %}
                  <tr class="tna-table__row">
                    <th class="tna-table__header">
                      <a href="{{ url("editor_ui:projects:feedback_forms:detail", project_uuid, feedback_form.uuid) }}">{{ feedback_form.name|wordwrap(25) }}</a>
                    </th>
                    <td class="tna-table__cell">
                      {% if feedback_form.is_enabled() %}
                        Published
                      {% else %}
                        Draft
                      {% endif %}
                    </td>
                    <td class="tna-table__cell tna-table__cell--numeric">{{ feedback_form.created_at|date }}</td>
                    <td class="tna-table__cell tna-table__cell--numeric">{{ feedback_form.modified_at|date }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
