{% extends "editor_ui/generic_update_template.html" %}
{% set promptType = object.type() %}
{% block heading_text %}
  {% if promptType == "RangedPromptOption" %}
    <p>Editing the ranged prompt options for '{{ object.ranged_prompt.text }}' in the '{{ object.ranged_prompt.feedback_form.name }}' feedback form.</p>
  {% else %}
    <p>Editing the prompt details for '{{ object.text }}' in '{{ object.feedback_form.name }}'.</p>
  {% endif %}
{% endblock heading_text %}
{% block cancel_button %}
  <a href="{{ url('editor_ui:project__feedback_form_detail', project_uuid=project_uuid, feedback_form_uuid=feedback_form_uuid) }}"
     class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
