{% extends "editor_ui/generic_deletion_template.html" %}
{% set pageTitle = "Delete " + object.text|truncate(13, true) %}

{% block description %}
    <p>Are you sure you want to remove the prompt <b>{{ object }}</b> from feedback form <b>{{ object.feedback_form.name }}</b>?</p>
{% endblock description %}

{% block submit_button_text %}
    Delete
{% endblock submit_button_text %}

{% block cancel_button %}
    <a href="{{ url("editor_ui:projects:feedback_forms:detail", project_uuid=object.feedback_form.project.uuid, feedback_form_uuid=object.feedback_form.uuid) }}"
       class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
