{% extends "editor_ui/generic_deletion_template.html" %}
{% set pageTitle = "Delete " + object.label %}

{% block heading_text %}
    Are you sure you want to remove the ranged prompt option <strong>{{ object }}</strong> from prompt <strong>{{ object.ranged_prompt }}</strong>?
{% endblock heading_text %}

{% block submit_button_text %}
    Delete
{% endblock submit_button_text %}

{% block cancel_button %}
    <a href="{{ url("editor_ui:projects:feedback_forms:prompts:detail", project_uuid=object.ranged_prompt.feedback_form.project.uuid, feedback_form_uuid=object.ranged_prompt.feedback_form.uuid, prompt_uuid=object.ranged_prompt.uuid) }}"
       class="tna-button tna-button--plain">Cancel</a>
{% endblock cancel_button %}
