{% extends "editor_ui/base_form_template.html" %}
{% set pageTitle = "Update Membership" %}
{% block heading %}
  Update Membership
{% endblock heading %}
{% block heading_text %}
  Editing the membership role for {{ object.user }} in the {{ object.project }} project.
{% endblock heading_text %}
{% block submit_button_text %}
  Update Membership
{% endblock submit_button_text %}
{% block cancel_button %}
  <a href="{{ url('editor_ui:project__memberships', project_uuid=object.project.uuid) }}" class="tna-button tna-button--accent">Cancel</a>
{% endblock cancel_button %}
