{% extends "editor_ui/base_form_template.html" %}
{% set pageTitle = "Update Membership" %}
{% block heading %}
  Update Membership
{% endblock heading %}
{% block heading_text %}
  Editing the membership role for {{ object.user }} in the {{ object.project }} project.
{% endblock heading_text %}
{% block submit_button_text %}
  Update Membership
{% endblock submit_button_text %}
{% block additional_buttons %}
  <a href="{{ url('editor_ui:project_memberships', project_uuid=object.project.uuid) }}" class="tna-button">Cancel</a>
{% endblock additional_buttons %}
