{% extends "base.html" %}
{% set pageTitle = "Project Members" %}
{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">Project Members</h1>
      </div>
      <div class="tna-column tna-column--full tna-!--padding-top-m">
        {% if current_user_is_project_owner_or_admin %}
          <a href="{{ url("editor_ui:project_memberships_add", project_uuid=project_uuid) }}"
             class="tna-button">Add users</a>
        {% endif %}
        {% if not members %}
          <p>No members found.</p>
        {% else %}
          <div class="tna-table-wrapper">
            <table class="tna-table">
              <thead class="tna-table__head">
                <tr class="tna-table__row">
                  <th class="tna-table__header">User</th>
                  <th class="tna-table__header">Role</th>
                  <th class="tna-table__header">Created at</th>
                  <th class="tna-table__header">Created by</th>
                  {% if current_user_is_project_member_or_admin %}<th class="tna-table__header"></th>{% endif %}
                </tr>
              </thead>
              <tbody class="tna-table__body">
                {% for member in members %}
                  <tr class="tna-table__row">
                    <td class="tna-table__cell">{{ member.user }}</td>
                    <td class="tna-table__cell">{{ member.role }}</td>
                    <td class="tna-table__cell">{{ member.created_at }}</td>
                    <td class="tna-table__cell">{{ member.created_by }}</td>
                    <td class="tna-table__cell">
                      {% if current_user_is_project_owner_or_admin %}<a href="{{ url('editor_ui:project_memberships_edit', project_uuid=project_uuid, membership_uuid=member.uuid) }}" class="tna-button">Edit</a>{% endif %}
                      {% if member.is_current_user %}<a href="#" class="tna-button">Leave</a>{% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
