{% extends "base.html" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <h1 class="tna-heading-xl">Confirm Deletion</h1>
                <p>
                    Are you sure you want to remove <strong>{{ object.user.email }}</strong> from project <strong>{{ object.project.name }}</strong>?
                </p>
                <form method="post">
                    {{ csrf_input }}
                    <div class="tna-button-group">
                        <button type="submit" class="tna-button tna-button--accent">Confirm Removal</button>
                        <a href="{{ url("editor_ui:project__memberships", project_uuid=object.project.uuid) }}"
                           class="tna-button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
