{% extends "editor_ui/base_deletion_template.html" %}
{% set pageTitle = "Remove user" %}

{% block heading %}
    Confirm user removal
{% endblock heading %}

{% block heading_text %}
    Are you sure you want to remove the user <strong>{{ object.user.email }}</strong> from project <strong>{{ object.project.name }}</strong>?
{% endblock heading_text %}

{% block submit_button_text %}
    Remove user
{% endblock submit_button_text %}

{% block cancel_button %}
    <a href="{{ url("editor_ui:project__memberships", project_uuid=object.project.uuid) }}"
       class="tna-button">Cancel</a>
{% endblock cancel_button %}
