{% extends 'base.html' %}
{% set pageTitle = "Page not found" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <h1 class="tna-heading-xl tna-!--margin-bottom-m">Page not found</h1>
                <p class="tna-body">
                    If you entered a web address, check it is correct or <a href="{{ url("editor_ui:projects:list") }}">return to the homepage</a>.
                </p>
                <small><pre class="tna-!--padding-top-m">Status code: 404</pre></small>
            </div>
        </div>
    </div>
{% endblock content %}
