{% extends 'base.html' %}
{% set pageTitle = "Internal Server Error" %}
{% block content %}
    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
                <h1 class="tna-heading-xl tna-!--margin-bottom-m">Internal Server Error</h1>
                <p class="tna-body">
                    Sorry, there is a problem with the service, please try again later.
                </p>
                <small><pre class="tna-!--padding-top-m">Status code: 500</pre></small>
            </div>
        </div>
    </div>
{% endblock content %}
